!!! strict
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Hatchet chops long webpages down to size and wirelessly delivers them to your Amazon Kindle.
    
    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css',  :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/screen.css', :type => "text/css"} 
    
  %body{:id => @class ||= "home" }
  
    #doc
  
      #hd

      #bd

        = yield
        
    #ft{:style => "display: none"}
      %p
        Copyright &copy; 2009 
        %a{:href => "http://trisignia.com/", :title => "Trisignia LLC"} Trisignia LLC
    
    :javascript
      // TODO: Google Analytics code goes here