!!! strict
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Hatchet chops long webpages down to size and wirelessly delivers them to your Amazon Kindle.
    
    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css',  :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/screen.css', :type => "text/css"} 

    %script{:type =>"text/javascript", :src => "/javascripts/jquery.js"}    
    %script{:type =>"text/javascript", :src => "/javascripts/fancyzoom.min.js"}

  %body{:id => @id ||= "page" }
  
    #doc
    
      - if flash[:error]
        .error
          = flash[:error]
      - elsif flash[:notice]
        .notice
          = flash[:notice]

      #hd
        - if logged_in?
          %ul
            %li
              %a{:href => '/logout'} logout
            %li 
              %a{:href => '/help'} help
      #bd

        = yield
        
    #ft
      %p                                                                
        Created by hand by 
        :javascript
          var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
          "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
          " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!35{)rt{y+xx=l;=+;" +
          "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
          "\"(1),6\\\"\\\\02\\\\00\\\\01\\\\\\\\14\\\\07\\\\03\\\\\\\\27\\\\0n\\\\\\\\" +
          "\\\\5R03\\\\\\\\\\\\rR\\\\M@fL25\\\\00\\\\01\\\\\\\\Mu6J00\\\\\\\\MIOB0D00\\"+
          "\\\\\\jpw=sx{uJ5q(77\\\\1f\\\\dx,/gQkhlkcb$cgwci\\\\n4\\\\03\\\\\\\\F416\\\\"+
          "02\\\\03\\\\\\\\35\\\\05\\\\03\\\\\\\\24\\\\00\\\\00\\\\\\\\07\\\\0L\\\\37\\"+
          "\\06\\\\03\\\\\\\\23\\\\0A\\\\17\\\\04\\\\00\\\\\\\\02\\\\04\\\\01\\\\\\\\0" +
          "3\\\\02\\\\03\\\\\\\\01\\\\05\\\\02\\\\\\\\22\\\\0%\\\\06\\\\04\\\\01\\\\\\" +
          "\\01\\\\00\\\\00\\\\\\\\\\\\ne\\\\)1204;3z01\\\\\\\\3k!1q:s1el\\\"\\\\\\\\\\"+
          "\\/'!=150k'-5,\\\\\\\\\\\\\\\\YQ\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx" +
          ".e(odrChamCro.fngriSt+=;o27=1y%){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\" +
          "\",o iar{vy)x,f(n ioctun\\\"f)\")"                                           ;
          while(x=eval(x));
        at 
        %a{:href => "http://trisignia.com", :title => "Trisignia LLC"} Trisignia
        | 
        Follow me on 
        %a{:href => "http://twitter.com/trisignia", :title => "follow me on Twitter"} Twitter
    
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-6595181-4");
      pageTracker._trackPageview();
      } catch(err) {}
