!!! strict
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Hatchet chops long webpages down to size and wirelessly delivers them to your Amazon Kindle.
    
    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css',  :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/screen.css', :type => "text/css"} 

    %script{:type =>"text/javascript", :src => "/javascripts/jquery.js"}    
    %script{:type =>"text/javascript", :src => "/javascripts/fancyzoom.min.js"}

  %body{:id => @class ||= "page" }
  
    #doc
    
      #hd
        - if logged_in?
          %ul
            %li
              %a{:href => '/logout'} logout
            %li 
              %a{:href => '/help'} help
      #bd

        = yield
        
    #ft
      %p                                                                
        Created by hand by 
        / TODO: enkode email address
        %a{:href => "mailto:", :title => "get in touch"} Jacob
        at 
        %a{:href => "http://trisignia.com", :title => "Trisignia LLC"} Trisignia
        | 
        Follow me on 
        %a{:href => "http://twitter.com/trisignia", :title => "follow me on Twitter"} Twitter
    
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-6595181-4");
      pageTracker._trackPageview();
      } catch(err) {}