%h2 Complete signup

%p
  %strong Step 1:
  Add pb@hatchetapp.com to your 
  %a{:href => 'https://www.amazon.com/gp/digital/fiona/manage/ref=ya__14', :target => '_blank'}Kindle approved email addresses.

%form{:action => '/next', :method => 'post', :style => "width: 100%"}
  %p
    %strong Step 2:
    %label{:for => 'kindle_email'} Add your Kindle email name:
    %input{:id => 'kindle_email', :name => 'kindle_email', :type => 'text'}@kindle.com
    %input{:id => 'commit', :name => 'commit', :type => 'submit', :style => 'margin-top: 2em;', :value => 'Submit'}

  %p
    %small
      After you've added you Kindle email address, we'll give you a bookmarklet to use to select webpages to be sent wirelessly to your Kindle.