body{
  background: #ccc url(/images/background.jpg) top center;
  background-repeat: repeat-y;
  text-align: center;
  font-family: "lucida grande", helvetica, arial, sans-serif;
  font-size: 86%;
  color: #222;
}

h2{
  margin-bottom: 1em;
  font-weight: bold;
}

p{
  margin-bottom: 1em;
  line-height: 1.6em;
}

strong{
  font-weight: bold;
}

span.gmail{
  padding-left: 25px;
  background: url(/images/gmail.gif) top left no-repeat;
}

span.yahoo{
  padding-left: 28px;
  background: url(/images/yahoo.gif) top left no-repeat;
}

small{
  font-size: 0.9em;
  color: #333;
}

#doc{
  margin: 0 auto;
  width: 900px;
  background: #fff;
  text-align: left;
  position: relative;
}

body#home #doc{
  background: url(/images/hatchet_bg.jpg) top center;
  height: 767px;
}

.ir{
  text-indent: -999em;
  overflow: hidden;
}

body#home h1#logo{
  position: absolute;
  left: 50px;
  top: 106px;
}

body#home #strap{
  position: absolute;
  left: 50px;
  top: 174px;
}

body#home form#login h2{
  position: absolute;
  top: 441px;
  right: 65px;
}

body#home form#login p.small{
  position: absolute;
  top: 523px;
  right: 65px;
  height: 27px;
  width: 263px;
}

body#home p#oid{
  position: absolute;
  top: 465px;
  left: 572px;
}

input#openid_identifier{
  width: 200px;
  float: left;
  font-size: 20px;
  color: #333;
  font-family: courier;
}

input#oid_submit{
  width: 50px;
  float: left;
}

body#home form#login p.small a{
  display: block;
  height: 100%;
  width: 100%;
  background: transparent url(/images/small_off.jpg) no-repeat;
  background-position: top left;
}

body#home form#login p.small a:hover{
  background: transparent url(/images/small_on.jpg) no-repeat;
}

#footer{
  
}

/* form styles */

form {
	width: 360px;
	text-align: left;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

legend {
	display: none;
}

form h3 {
	clear: both;
	padding: 5px 0px 10px 0px;
	font-size: 14px;
}

form label {
	display: block;
	width: 310px;
	font-size: 12px;
	line-height: 14px;
	padding: 0px 0px 12px 0px;
}

form input {
	display: block;
	margin-top: 3px;
}

form select {
	float: left;
	display: block;
}

form label.field-first,
form label.field-address,
form label.field-city,
form label.field-email {
	clear: left;
}


form label.field-first,
form label.field-last,
form label.field-city,
form label.field-email,
form label.field-phone {
	float: left;
	margin: 0px 10px 0px 0px;
	width: 150px;
}

form label.field-first input,
form label.field-last input,
form label.field-email input,
form label.field-city input,
form label.field-phone input {
	float: left;
	width: 150px;
	padding: 0px;
}

form label.field-state {
	float: left;
	margin-right: 10px;
	width: 60px;
}

form label.field-state select {
	width: 60px;
	float: left;
	margin-top: 3px;
}

form label.field-zip {
	float: left;
	width: 80px;
}

form label.field-zip input {
	float: left;
	width: 80px;
}

form label.field-address {
	float: left;
	width: 310px;
	margin: 0px 0px 0px 0px;
}

form label.field-address input {
	float: left;
	width: 310px;
	padding: 0px;
}

form input#radiobutton_1,
form input#radiobutton_2,
form input#radiobutton_3,
form input#radiobutton_4 {
	clear: left;
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

form label.radioitem {
	clear: none;
	margin: 0px 0px 0px 25px;
	padding: 0px 0px 15px 0px;
}

textarea {
	display: block;
}

form input#checkbox_1,
form input#checkbox_2,
form input#checkbox_3 {
	clear: both;
	float: left;
	padding: 0px;
	margin: 0px;
}

form label.field-checkbox {
	clear: none;
	margin: 0px 0px 0px 25px;
	padding: 0px 0px 15px 0px;
}

form textarea {
	margin-top: 3px;
}